body {
  background-color: var(--about-us);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.container {
  width: 1170px;
  margin: 0 auto;
}