.portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}

.portfolio-container {
  display: flex;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.portfolio__item {
  flex-basis: 370px;
  height: 404px;
  margin-bottom: 30px;
}

.portfolio__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.25s;
}

.portfolio__item:nth-child(n+7) {
  padding-bottom: 94px;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  color: rgb(33, 33, 33);
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
  letter-spacing: 0.06em;
}

.portfolio__subtitle {
  color: rgb(117, 117, 117);
  line-height: 30px;
  padding-top: 4px;
  padding-left: 24px;
}

.portfolio__image {
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
  padding: 15px;
  transform: translateX(-100%);
  transition: transform 250ms ease;
}

.portfolio__image:hover .portfolio-overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}